@page "/SafetyCard"

@using ISCardsLight.PageModels
@inject SafetyCardPageModel pagemodel;

<Spinner IsVisible="pagemodel.IsVisibleSpinner" />
<Spinner IsVisible="pagemodel.IsVisibleSpinner" />
<EditForm Model="@pagemodel.SafetyCard" class="card_form"
          OnValidSubmit="@(async()=> await pagemodel.CreateCardAsync())"
          OnInvalidSubmit="@(()=>pagemodel.IsVisibleMessageBox=true)">

    <DataAnnotationsValidator />
    <MessageBox ButtonTitle="Закрыть" Title="Исправте" IsVisibale="@pagemodel.IsVisibleMessageBox" ButtonAction="@(()=>pagemodel.CloseMessageBox())">
        <ValidationSummary />
    </MessageBox>

    <label class="form_title">Кaрта фиксации нарушений</label>

    <StackLayout Orientation="Horizontal">
        <StackLayout Orientation="Vertical">

            <label class="title">Карту заполнил</label>

            <div class="input_group">
                <label class="input_title">Фамилия:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.SecondName)" />
                <InputText class="form-control" Placeholder="Иванов"
                           @bind-Value="@pagemodel.SafetyCard.SecondName" />
            </div>

            <div class="input_group">
                <label class="input_title">Имя:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.FirstName)" />
                <InputText class="form-control" Placeholder="Иван"
                           @bind-Value="@pagemodel.SafetyCard.FirstName" />
            </div>

            <div class="input_group">
                <label class="input_title">Отчество:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.MiddleName)" />
                <InputText class="form-control" Placeholder="Иванович"
                           @bind-Value="@pagemodel.SafetyCard.MiddleName" />
            </div>

            <div class="input_group">
                <label class="input_title">Должность:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.Position)" />
                <InputText class="form-control" Placeholder="Должность"
                           @bind-Value="@pagemodel.SafetyCard.Position" />
            </div>

            <div class="input_group">
                <label class="input_title">Телефон:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.Phone)" />
                <InputText class="form-control" Placeholder="+79991236547"
                           @bind-Value="@pagemodel.SafetyCard.Phone" />
            </div>

            <div class="input_group">
                <label class="input_title">Email:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.Email)" />
                <InputText class="form-control" Placeholder="email@mail.ru"
                           @bind-Value="@pagemodel.SafetyCard.Email" />
            </div>

            <label class="title">Место, где наблюдалась ситуация</label>

            <div class="input_group">
                <label class="input_title">Организация:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.Organization)" />
                <InputText class="form-control"
                           @bind-Value="@pagemodel.SafetyCard.Organization" />
            </div>

            <div class="input_group">
                <label class="input_title">Подразделение:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.Department)" />
                <InputText class="form-control"
                           @bind-Value="@pagemodel.SafetyCard.Department" />
            </div>

            <div class="input_group">
                <label class="input_title">Объект:</label>
                <ValidationMessage For="@(()=>@pagemodel.SafetyCard.JobObject)" />
                <InputText class="form-control"
                           @bind-Value="@pagemodel.SafetyCard.JobObject" />
            </div>

        </StackLayout>
        <StackLayout Orientation="Vertical">
            <label class="title">Описание</label>

            <div class="input_group">
                <label class="input_title">Выберите вид наблюдения:</label>
                <InputSelect class="form-control" @bind-Value="@pagemodel.SafetyCard.TypeOfAction" itemid="0">
                    <option value="0">Опасное условие</option>
                    <option value="1">Опасное действие</option>
                </InputSelect>
            </div>

            <div class="input_group">
                <label class="input_title">Краткое описание ситуации:</label>
                <InputTextArea class="form-control" rows="3"
                               @bind-Value="@pagemodel.SafetyCard.Description" />
            </div>

            <div class="input_group">
                <label class="input_title">Меры, принятые на месте:</label>
                <InputTextArea class="form-control" rows="3"
                               @bind-Value="@pagemodel.SafetyCard.Actions" />
            </div>

            <div class="input_group">
                <label class="input_title">Причины:</label>
                <InputTextArea class="form-control" rows="3"
                               @bind-Value="@pagemodel.SafetyCard.Reasons" />
            </div>

            <div class="input_group">
                <label class="input_title">Планируемые мероприятия:</label>
                <InputTextArea class="form-control" rows="3"
                               @bind-Value="@pagemodel.SafetyCard.PlannedEvents" />
            </div>

            <label class="title">Ответсвенный</label>
            <div class="input_group">
                <label class="input_title">ФИО:</label>
                <InputText class="form-control" Placeholder="Иванов Иван Иванович"
                           @bind-Value="@pagemodel.SafetyCard.Responsible" />
            </div>

            <div class="input_group">
                <label class="input_title">Срок исполнения:</label>
                <InputDate class="form-control"
                           @bind-Value="@pagemodel.SafetyCard.Deadline" />
            </div>

            <div class="input_group">
                <label class="input_title">Статус:</label>
                <InputSelect class="form-control" @bind-Value="@pagemodel.SafetyCard.Status" itemid="0">
                    <option value="0">Не выполнено</option>
                    <option value="1">Выполнено</option>
                </InputSelect>
            </div>


        </StackLayout>
    </StackLayout>
    <div class="input_btn_group">
        <input type="submit" class="btn btn-warning" value="Создать карту" />
    </div>
</EditForm>
